@import url("../../Form-TeiHeader/css/main.css");

/* editorialDecl */
/* editorialDecl p::after {
    content:
        oxy_button(
            actionID, "delP" 
        )   
}*/

editorialDecl::after {
    content: 
        oxy_button(actionID, "delP")
        oxy_buttonGroup(
            label, '${i18n(editorialDecl_button)}', 
            actionIDs, "correction, normalization, punctuation, quotation, hyphenation, segmentation, stdVals, interpretation"
          );
}

correction::before {
    content: 
        oxy_label(text,"${i18n(correction)}: ", styles, "@import 'labels.css';")
        oxy_label(text, "${i18n(status_correction)}: ", styles, "@import 'labels.css';")
        oxy_label(text,"${i18n(method_correction)}: ", styles, "@import 'labels.css';")
}

correction p {
    content: 
        oxy_textArea(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

normalization::before {
    content: 
        oxy_label(text,"${i18n(normalization)}: ", styles, "@import 'labels.css';")
        oxy_label(text, "${i18n(source_normalization)}: ", styles, "@import 'labels.css';")
        oxy_label(text,"${i18n(method_normalization)}: ", styles, "@import 'labels.css';")
}

normalization p {
    content:
        oxy_textArea(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

punctuation::before {
    content: 
        oxy_label(text,"${i18n(punctuation)}: ", styles, "@import 'labels.css';")
        oxy_label(text, "${i18n(marks_punctuation)}: ", styles, "@import 'labels.css';")
        oxy_label(text,"${i18n(placement_punctuation)}: ", styles, "@import 'labels.css';")
}

punctuation p {
    content:
        oxy_textArea(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

quotation::before {
    content: 
        oxy_label(text,"${i18n(quotation)}: ", styles, "@import 'labels.css';")
        oxy_label(text,"${i18n(marks_quotation)}: ", styles, "@import 'labels.css';")
}

quotation p {
    content:
        oxy_textArea(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

hyphenation::before {
    content: 
        oxy_label(text,"${i18n(hyphenation)}: ", styles, "@import 'labels.css';")
        oxy_label(text,"${i18n(eol_hyphenation)}: ", styles, "@import 'labels.css';")
}

hyphenation p {
    content:
        oxy_textArea(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

segmentation::before {
    content: 
        oxy_label(text,"${i18n(segmentation)}: ", styles, "@import 'labels.css';");
}

segmentation p {
    content:
        oxy_textArea(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

stdVals::before {
    content: 
        oxy_label(text,"${i18n(stdVals)}: ", styles, "@import 'labels.css';");
}

stdVals p {
    content:
        oxy_textArea(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

interpretation::before {
    content: 
        oxy_label(text,"${i18n(interpretation)}: ", styles, "@import 'labels.css';");
}

interpretation p {
    content:
        oxy_textArea(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}