@import url("../../Form-TeiHeader/css/main.css");

/* profileDesc */
correspDesc {
    content:
        oxy_label(text, "${i18n(correspDesc)}: ", styles, "@import 'labels.css';");
}

correspAction[type]::before{
    content:
        oxy_label(text, "${i18n(type_corresp)}: ", styles, "@import 'labels.css';");
    white-space:nowrap;
}

correspAction[type] {
    content:
        oxy_label(text, "${i18n(correspAction)}: ", styles, "@import 'labels.css';")
        oxy_textfield(
            edit, "#text",
            columns, 60,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

correspDesc::after{
    content: 
        oxy_buttonGroup(
            label, '${i18n(add_corresp)}',
            actionIDs, "correspDesc, correspAction",
            actionStyle, both
        );
}

correspAction > persName {
    content:
        oxy_label(text, "${i18n(persName_correspAction)}: ", styles, "@import 'labels.css';")
        oxy_textfield(
            edit, "#text",
            columns, 60,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

correspAction > date::before {
    content:
        oxy_label(text, "${i18n(date)}: ", styles, "@import 'labels.css';")
}