@import url("../../Form-TeiHeader/css/main.css");

/* profileDesc */
correspDesc {
    content:
        oxy_label(text, "${i18n(correspDesc)}: ", styles, "@import 'labels.css';")
        oxy_label(text, "${i18n(correspDesc_id)}: ", styles, "@import 'labels.css';")
        oxy_textfield(
            edit, "@xml:id",
            columns, 60,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}
correspAction[type] {
    content:
        oxy_label(text, "${i18n(type_corresp)}: ", styles, "@import 'labels.css';")
        oxy_combobox(           
            edit, "@type",
            editable, false,
            values, "sent, received, transmitted, redirected, forwarded",
            labels, "${i18n(sent)}, ${i18n(received)}, ${i18n(transmitted)}, ${i18n(redirected)},${i18n(forwarded)}");
}
correspDesc::after{
    content: 
        oxy_buttonGroup(
            label, '${i18n(add_corresp)}',
            actionIDs, "correspDesc, correspAction",
            actionStyle, both
        );
}
correspAction persName:before {
    display:none;
}
correspAction > persName {
    content:
        oxy_label(text, "${i18n(persName_correspAction)}: ", styles, "@import 'labels.css';")
        oxy_textfield(
            edit, "#text",
            columns, 60,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}
correspAction date:before {
    display:none;
}
correspAction > date::before {
    content:
        oxy_label(text, "${i18n(date)}: ", styles, "@import 'labels.css';")
}