@import url("../../ediarum.BASE.edit/css/standard.css");

@import url('https://fonts.cdnfonts.com/css/junicode');

@namespace oxy "http://www.oxygenxml.com/extensions/author";

:root {
    font-family: 'Junicode', sans-serif;                                         
}
  
/* Allgemeines */
* {
    width: 40%;
    text-align:left;
    font-size: 12pt !important;
    color: black !important;
}

TEI::before{
    content: "TEI Dokument\a" "ID:" 
        oxy_textfield(
            edit, '@xml:id',
            columns, 40,
            fontInherit,true);
    visibility: -oxy-collapse-text;
    display:block;;
    color:  #5A5A5A;
    font-size: 1.2em;
    white-space:nowrap;
}

titleStmt, TEI::before, fileDesc > editionStmt, fileDesc > publicationStmt, sourceDesc, encodingDesc, profileDesc, editionStmt, notesStmt, revisionDesc{
    border: 1px solid #5A5A5A;
    border-radius: 4px;
    padding: 1em;
    margin: 0 0 0.5em 0;
    -oxy-foldable: true;
}

titleStmt, teiHeader, fileDesc, fileDesc > publicationStmt, fileDesc > editionStmt, sourceDesc, encodingDesc, profileDesc{
    content: "";
    display: block;
}

titleStmt::before, title[type="main"]::before, title[type="sub"]::before{
    display: block;
    color: #5A5A5A;
}

teiHeader p, repository::before, forename::before, surname::before, forename::after, orgName::before, note::before, availability::before, availability::after, idno::after, idno[type]::before,settlement::before, settlement::after, repository::after, physDesc::after, encodingDesc::after, edition::after, date::before {
    content:"\a";
    white-space: pre;
}
oxy|comment {
    display:none !important;
}

surname{
    content:
        oxy_label(text, "\a Nachname: ")
        oxy_textfield(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

surname::after {
    display:none;
}
forename{
    content:
        oxy_label(text, "Vorname: ")
        oxy_textfield(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

teiHeader p{
    content:
        oxy_textArea(
            edit, "#text",
            columns, 40,
            fontInherit,true);
    visibility: -oxy-collapse-text;
}

span {
    display: inline-block;
    background-color: #d8c8b7;
    -oxy-display-tags: none;
}
span::before {
    display: inline-block;
    content: attr(type) ": ";
    background-color: #c6af98;
}

date {
    content: 
         oxy_label(text,"Datum: ")
         oxy_datePicker(
             columns, 10, 
             edit, "date",
             format, "yyyy-MM-dd");
}

/* titleStmt */
titleStmt::before{
    content: 
        oxy_label(text,"Titelei");
    font-weight:bold;
    font-size: 1em; 
    color:  black;
}

title[type="main"] {
    content:
        oxy_label(text,"Titel: ")
        oxy_textfield(
            edit, '#text',
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
     margin: 0;
}

title[type="sub"]{
    content:  
        oxy_label(text,"Untertitel: ")
        oxy_textfield(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
     margin: 0;
}

author::after{
    content: "\a"
        oxy_button(actionID, "addAuthor")
}
author surname::before{
    content:
        oxy_label(text, "\a Autor/in: ")
}

author::before {
    content: 
        oxy_label(text, "Autor(en): \a")
}

editor {
    content: 
        oxy_label(text, "Editor(en):") !important;
}

editor::after{
    content: 
        oxy_button(actionID, "addEditor")
}
editor surname::before{
    content:
        oxy_label(text, "\a Editor/in: ")
}

respStmt::before{
    content: 
        oxy_label(text,"Angabe zur Verantwortlichkeit ", styles, "font-weight:bold, font-size: 1em, color:  black;");
    white-space: nowrap;
}

orgName{
    content:
        oxy_label(text, "Name der Institution: ")
        oxy_textfield(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

respStmt note::before, respStmt note::after {
    display:none;
}

respStmt note{
    content:
        oxy_label(text, "Bemerkung zur Bereitstellung: ")
        oxy_textArea(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

ref {
    content: 
        oxy_label(text,"Referenz: " attr(target))
        oxy_textfield(
            edit, '@target',
            columns, 40,
            fontInherit,true);
    visibility: -oxy-collapse-text;;
}

/* editionStmt */
editionStmt::before{
    content: 
        oxy_label(text,"Angabe zur Ausgabe ", styles, "font-weight:bold, font-size: 1em, color:  black;");
    white-space: nowrap;
}

edition{
    content:
        oxy_label(text, "Edition: ")
        oxy_textfield(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

/* publicationStmt */
publicationStmt::before {
    content:
        oxy_label(text,"Angaben zur Veröffentlichung \a ", styles, "font-weight:bold, font-size: 1em, color:  black;");
    white-space:nowrap;
}

publisher{
    content:
        oxy_label(text, "Herausgeber: ")
        oxy_textfield(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

orgName[role="hostingInstitution"]{
    content:
        oxy_label(text, "Name der ausrichtenden Institution: ")
        oxy_textfield(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

orgName[role="project"]{
    content:
        oxy_label(text, "Name des Projekts: ")
        oxy_textfield(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

email{
    content:
        oxy_label(text, "Email: ")
        oxy_textfield(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

addrLine{
    content:
        oxy_textfield(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

address::before{
    content:
        oxy_label(text,"Adresse: ");
}

address::after {
    content:
        oxy_button(actionID, "addAddrLine")
}

distributor{
    content:
        oxy_label(text, "Distributor: ")
        oxy_textfield(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

pubPlace{
    content:
        oxy_label(text, "Publikationsort: ")
        oxy_textfield(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

date[type="publication"]{
    content:
        oxy_label(text,"Veröffentlichung: ")
        oxy_datePicker(
            columns, 10, 
            edit, "@date",
            format, "yyyy-MM-dd");
}
date[type="firstPublication"]{
    content:
        oxy_label(text,"Erstveröffentlichung: ")
        oxy_datePicker(
            columns, 10, 
            edit, "@date",
            format, "yyyy-MM-dd");
}

availability{
    content:
        oxy_label(text,"Verfügbarkeit: \a");
}

licence{
    content:
        oxy_label(text,"Lizenz: \a");
}

idno[type]::before{
    content:
        oxy_label(text, "\a Art des Identifikators: " attr(type))
        oxy_combobox(           
            edit, "@type",
            editable, true,
            values, "ISBN, ISSN, DOI, URI, VIAF, ESTC, OCLC");
}

idno[type] {
    content:
        oxy_label(text, "\a Identifikator: ")
        oxy_textfield(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

idno:has(idno)::before {
    content: 
        oxy_label(text, "Identifikation: \a");
    font-weight: bold;
    font-size: 1em;
    color:  black;
}

idno:has(idno)::after {
    content: 
        oxy_button(actionID, "addIdno");
}

/* notesStmt */
notesStmt::before {
    content: 
        oxy_label(text, "Zusätzliche Anmerkungen: ", styles, "font-weight:bold, font-size: 1em, color:  black;");
    white-space:nowrap;
}

notesStmt note::before{
    content:
         oxy_label(text, "Anmerkung zum Text: ", styles, "font-weight:normal");
}

notesStmt note {
    content:
        oxy_textArea(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

notesStmt::after{
    content: 
        oxy_button(actionID, "addNote") 
}

/* sourceDesc */
sourceDesc::before {
    content:
        oxy_label(text,"Beschreibung der Quelle: ", styles, "font-weight:bold, font-size: 1em, color:  black;");
    white-space:nowrap;
}
sourceDesc titleStmt {
    display:none;
}

bibl {
    content:
        oxy_label(text,"Bibliographische Beschreibung: ")
        oxy_textArea(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
        
}

msDesc {
    content: 
        oxy_label(text,"Manuskriptbeschreibung: ", styles, "font-weight:bold, font-size: 1em, color:  black;") !important;
}

settlement{
    content:
        oxy_label(text, "Standort: ")
        oxy_textfield(
            edit, "#text",
            columns, 40,
            fontInherit,true);
    visibility: -oxy-collapse-text;
}

repository{
     content:
        oxy_label(text, "Repositorium: ")
        oxy_textfield(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

repository::after {
    display:none;
}

physDesc::before {
    content: 
        oxy_label(text,"Physische Beschreibung: ", styles, "font-weight:bold, font-size: 1em, color:  black;") !important;
        white-space:nowrap;
}

typeDesc{
    content:
        oxy_label(text, "Schriftbeschreibung: ")
}

/* encodingDesc */
encodingDesc::before{
    content:
        oxy_label(text,"Kodierungsbeschreibung ", styles, "font-weight:bold, font-size: 1em, color:  black;");
}

projectDesc{
    content:
        oxy_label(text,"Projektbeschreibung: \a")
}

projectDesc p{
    content:
        oxy_textArea(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

editorialDecl{
    content:
        oxy_label(text,"Zeichendeklaration: \a");
}

editorialDecl p{
    content:
        oxy_textArea(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}

classDecl {
    content:
        oxy_label(text,"Angabe zur Klassifikation: \a", styles, "font-weight:bold, font-size: 1em, color:  black;");
}

taxonomy {
    content:
        oxy_label(text, "Typologie: \a");
}

taxonomy bibl {
    content:
        oxy_label(text, "Bibliographischer Verweis: \a")
        oxy_textfield(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
        
}

taxonomy bibl::after {
    content:"\a"
        oxy_button(actionID, "delBibl")      
}

category {
    content:
        oxy_label(text, "\a Kategorie: ")
        oxy_textfield(
            edit, '@xml:id',
            columns, 20,
            fontInherit,true);
    visibility: -oxy-collapse-text;
}

category category{
    content:
        oxy_label(text, "\a Unterkategorie: ")
        oxy_textfield(
            edit, '@xml:id',
            columns, 20,
            fontInherit,true);
    visibility: -oxy-collapse-text;
}

taxonomy::after {
    content: "\a"
        oxy_button(actionID, "addCategory")
}

category:has(category)::after {
    content: "\a"
        oxy_button(actionID, "addSubcategory") 
}

catDesc {
    content:
        oxy_label(text, "\a Kategoriebeschreibung: \a")
        oxy_textfield(
            edit, "#text",
            columns, 40,
            fontInherit,true);
     visibility: -oxy-collapse-text;
}


/* profileDesc */
profileDesc{
    content:
        oxy_label(text,"Textprofilbeschreibung ", styles, "font-weight:bold, font-size: 1em, color:  black;");
}

creation date {
    content:
        oxy_label(text, "Datei erstellt am: ")
        oxy_datePicker(
             columns, 10, 
             edit, "date",
             format, "yyyy-MM-dd");
     white-space:nowrap;
}

creation date::before{
    display:none;
}

language {
    content: 
        oxy_label(text,"Sprache: ")
        oxy_textfield(
             edit, "#text",
             columns, 40,
             fontInherit,true)
        oxy_label(text, "\a Sprachkürzel: ")
        oxy_textfield(
              edit, "@ident",
              columns, 40,
              fontInherit,true);
        visibility: -oxy-collapse-text;  
}

textClass::before{
    content:
        oxy_label(text, "Textklassifikation: ", styles, "font-weight:bold, font-size: 1em, color:  black;")!important
}

keywords::before{
    content:
        oxy_label(text,"Schlagwörter/Themen: \a")!important;
}

keywords::after{
    content:"\a"
        oxy_button(actionID, "addTerm");
}

term{
    content:
        oxy_label(text, "\a Schlüsselwort: ")
        oxy_textfield(
             edit, "#text",
             columns, 40,
             fontInherit,true);
     visibility: -oxy-collapse-text;
}

term::after{
    display:none;
}

classCode{
    content:
        oxy_label(text, "Klassifikationscode: ")
        oxy_textfield(
             edit, "#text",
             columns, 40,
             fontInherit,true);
     visibility: -oxy-collapse-text;
}

/* revisionDesc */
revisionDesc {
    content:
        oxy_label(text,"Dateihistorie \a", styles, "font-weight:bold, font-size: 1em, color:  black;");
}
revisionDesc::after {
    display:none;
}

listChange::before {
    content: oxy_button(actionID, "addChange") !important;
}

change::before{
    content:
        oxy_label(text,"Datum: " attr(when))
        oxy_datePicker(
            columns, 10, 
            edit, "@when",
            format, "yyyy-MM-dd")
        oxy_label(text, "\a Verantwortliche Person: " attr(who)) 
        oxy_textfield(
            edit, '@who',
            columns, 40,
            fontInherit,true)! important;
    visibility: -oxy-collapse-text;
    white-space:nowrap;
}

change p::before{
    content:
        oxy_label(text, "Beschreibung der Änderung: ");
}